<div class="header_nav ">
  <div class="col-xs-24 col-md-10 vcenter row">
      <img src="badge-rcptt.png" alt="The Eclipse Foundation" class="img-responsive  header_nav_logo">
  </div>
  <div class="col-xs-24 col-md-14 vcenter">
    <ul class="clearfix">
      <li class="col-xs-24 col-md-12">
        <a class="row" href="downloads/" title="Download: RCPTT IDE Distribution, CLI, Update Site" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-download"></i>
          <span class="col-xs-21 c col-md-17">
            Download
            <p>RCPTT IDE Distribution, CLI, Update Site</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="https://github.com/eclipse-rcptt/org.eclipse.rcptt/blob/master/CONTRIBUTING.md" title="Geting Involved: Git, Workspace Setup, Committers" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-users"></i>
          <span class="col-xs-21 c col-md-17">
            Geting Involved
            <p>Git, Workspace Setup, Committers</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="userguide" title="Documentation: User Guide, Examples, Online Reference" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-book"></i>
          <span class="col-xs-21 c col-md-17">
            Documentation
            <p>User Guide, Examples, Online Reference</p>
          </span>
        </a>
      </li>
      <li class="col-xs-24 col-md-12">
        <a class="row" href="/forums/" title="Support: Bug Tracker, Newsgroup Professional Support" target="_self">
          <i class="col-xs-3 col-md-6 fa fa-support"></i>
          <span class="col-xs-21 c col-md-17">
            Support
            <p>Bug Tracker, Newsgroup Professional Support</p>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>